@function rem($size) {
  $remSize: $size / 16px;
  @return #{$remSize}rem;
}

@mixin desktop {
  @media (min-width: #{$device-extra-large}) {
    @content;
  }
  @media (min-width: #{$device-medium + 1px}) and (max-width: #{$device-large}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$device-small + 1px}) and (max-width: #{$device-medium}) {
    @content;
  }
}

@mixin mobile {
  @media (min-width: #{$device-extra-small + 1px}) and (max-width: #{$device-small}) {
    @content;
  }
  @media (max-width: #{$device-extra-small}) {
    @content;
  }
}
