:host {
  .center-cropped {
    width: 130px;
    height: 130px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    background-position: center center;
    background-repeat: no-repeat;
  }
  .w-100{
    width: 100%;
  }
  .text-right {
    text-align: right;
  }
  .btn {
    padding: 4px 12px;
    color: #FFFFFF;
    border-radius: 12px;
    &.green {
      background-color: green;
    }
    &.red {
      background-color: red;
    }
  }
}
