<div class="row">
  <div class="col-12 col-sm-12 col-md-12 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6">
    <mat-form-field appearance="outline">
      <mat-label>Buscar</mat-label>
      <input matInput [formControl]="filterControl" (keyup.enter)="filter()" placeholder="Buscar" autocomplete="off">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  </div>
</div>

<div class="row">
  <div *ngFor="let item of characters" class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 mb-3">
    <mat-card class="p-0">
      <mat-card-content>
        <div class="d-flex w-100">
          <img class="center-cropped" [src]="item.image" [alt]="item.name">
          <div class="p-2 w-100">
            <div><strong>{{item.name}}</strong></div>
            <div *ngIf="item.gender" class="d-flex align-items-center">
              <mat-icon>chevron_right</mat-icon>{{item.gender}}
            </div>
            <div *ngIf="item.origin.name" class="d-flex align-items-center">
              <mat-icon>chevron_right</mat-icon>{{item.origin.name}}
            </div>
            <div *ngIf="item.type" class="d-flex align-items-center">
              <mat-icon>chevron_right</mat-icon>{{item.type}}
            </div>
            <div *ngIf="item.status === status.Alive || item.status === status.Dead"
                 class="pt-1 text-right">
              <a class="btn {{item.status === status.Alive ? 'green' : 'red'}}">{{item.status}}</a>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<div class="row mt-3">
  <div class="col-6">
    <button mat-flat-button color="primary" [disabled]="!info?.prev" (click)="filter(info?.prev)">
      <mat-icon>chevron_left</mat-icon> Anterior
    </button>
  </div>
  <div class="col-6 text-right">
    <button mat-flat-button color="primary" [disabled]="!info?.next" (click)="filter(info?.next)">
      Siguiente <mat-icon>chevron_right</mat-icon>
    </button>
  </div>
</div>
