<div #spinnerContainer [class]="showSpinner ? 'visible spinner center' : 'hidden spinner center'"></div>
<div id="loading-spinner-text" class="loading-spinner-text" [style.zIndex]="zIndex"
     [class]="showSpinner ? 'visible loading-text' : 'hidden loading-text'"> 
     <img class="notFound-img" src="assets/images/spinner_mapfre.gif" alt="Confirmación"> 
</div>