<mat-toolbar color="primary">
  <button mat-icon-button aria-label="Menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>RICK Y MORTY</span>
  <span class="header-spacer"></span>
  <button mat-icon-button aria-label="Heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button aria-label="Share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>
